.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery__item {
  overflow: hidden;
  flex-grow: 1;
  height: 40vh;
  position: relative;
  touch-action: manipulation;
}

.gallery__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  will-change: transform;
}

/* Zoom on hover (para desktop) */
.gallery__item:hover .gallery__img {
  transform: scale(1.1);
}

/* Zoom on tap (para móvil) */
.gallery__item.touch-zoom .gallery__img {
  transform: scale(1.1);
}
